.write{
    padding-top: 50px;
}

.writeImg{
    margin-left: 110px;
    width: 20vw;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 100px;
    display: flex;align-items: center;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.writeInput{
    font-size: 25px;
    border: none;
    padding: 15px;
    width: 70vw;

}

.writeInput:focus{
    outline: none;
    border-bottom: 1px solid;
}

.tooltip{
    position: relative;
}

.tooltipText{
    visibility: hidden;
    width:100px;
    background-color: rgb(26, 25, 25);
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position:absolute;
    z-index: 10;
  

}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius: 10px;
    cursor: pointer;
}


